<option>Akwa Ibom State University of Science and Technology</option>
<option>Abia State University Uturu</option>
<option>ABTI - American University of Nigeria Yola'[Private]</option>
<option>Abubakar Tafawa Balewa University Bauchi</option>
<option>Achievers University 'Owo' Ondo State [Private]</option>
<option>Adamawa State University 'Yola' [State]</option>
<option>Ahmadu Bello University Zaria Kaduna State [Federal]</option>
<option>Al Hikmah University Ilorin Kwara State [Private]</option>
<option>Ambrose Alli University Ekpoma</option>
<option>Anambra State University formerly Anambra State University Of Science And Technology, Uli</option>
<option>Ajayi Crowther University Oyo Oyo State [Private]</option>
<option>Bayero University Kano 'Kano State' [Federal]</option>
<option>Babcock University Ilishan-Remo</option>
<option>Bells University of Technology Ota, Ogun State</option>
<option>Benson Idahosa University Benin-City</option>
<option>Benue State University Makurdi, Benue State</option>
<option>Bingham University New Karu, Nassarawa State</option>
<option>Bowen University Iwo Osun State [Private]</option>
<option>Bukar Abba Ibrahim University "Damaturu, Yobe State"</option>
<option>Cetep University Lagos</option>
<option>Caritas University, Enugu</option>
<option>Catholic University of Nigeria Abuja</option>
<option>City University Yaba</option>
<option>City University of Technology Kaduna</option>
<option>Covenant University Ota</option>
<option>Crawford University Faith City Igbesa Ogun State</option>
<option>Crawford University Oye-Ekiti Campus</option>
<option>Crescent University Abeokuta, Ogun State</option>
<option>Cross River State University of Technology Ekpo-Abasi, Calabar</option>
<option>Delta State University Abraka-Nigeria Abraka, Delta State.</option>
<option>Ebonyi State University, Abakaliki.</option>
<option>Enugu State University Of Science And Technology Enugu</option>
<option>Fountain University, Osogbo</option>
<option>Federal University of Technology Akure</option>
<option>Federal University of Petroleum Resource Effurun</option>
<option>Federal University of Technology Owerri</option>
<option>Federal University of Technology Minna</option>
<option>Federal University of Technology Yola</option>
<option>Federal University of Agriculture Abeokuta</option>
<option>Ibrahim Babangida University Lapai</option>
<option>Igbinedion University Okada</option>
<option>Gombe State university "Gombe"</option>
<option>Imo State University Owerri</option>
<option>Joseph Ayo Babalola University Ikeji-Arakeji</option>
<option>Kaduna State University Kaduna Kaduna State</option>
<option>Kano State University of Technology Wudil</option>
<option>Kogi State University Ayigba Kogi State</option>
<option>Kwara State University Malete Kwara State</option>
<option>Ladoke Akintola University of Technology Ogbomoso</option>
<option>Lagos State University Ojo</option>
<option>Lead City University Ibadan</option>
<option>Madonna University (Ihiala) Okija</option>
<option>Federal Polytechnic birnin kebbi</option>
<option>Michael Okpara Federal University of Agriculture Umudike</option>
<option>Moses Orimolade University Omu-Aran</option>
<option>Nasarawa State University Keffi</option>
<option>National Open University of Nigeria, Lagos</option>
<option>Niger Delta University, Wilberforce Island, Bayelsa State.</option>
<option>Nigerian Defence Academy Kaduna</option>
<option>Nnamdi Azikiwe University Awka</option>
<option>Novena University Ogume, Delta State</option>
<option>Obafemi Awolowo University Ile Ife</option>
<option>Obong University Obong Ntak, Akwa Ibom</option>
<option>Olabisi Onabanjo University Ago-Iwoye, Ogun State</option>
<option>Ondo State University of Science and Technology Okitipupa</option>
<option>Adekunle Ajasin University Akungba-Akoko</option>
<option>Osun State University Osogbo</option>
<option>Kebbi State university of technology aliero</option>
<option>Pan-African University Lagos</option>
<option>Rivers State University of Science and Technology Port Harcourt</option>
<option>Renaissance University Agbani</option>
<option>Redeemer's University Redemption City</option>
<option>St. Paul's University College, Awka Anambra</option>
<option>Salem University Lokoja Kogi State</option>
<option>Tai Solarin University of Education Ijebu-Ode, Ogun State</option>
<option>The University-on-Idemili "Alor, Anambra State"</option>
<option>University of Abuja Gwagwalada</option>
<option>University of Agriculture, Abeokuta Abeokuta</option>
<option>University of Agriculture, Makurdi Makurdi, Benue State</option>
<option>University of Ado Ekiti Ado Ekiti</option>
<option>University of Benin Benin City</option>
<option>University of Calabar Calabar</option>
<option>University of Ibadan Ibadan</option>
<option>University of Ilorin Ilorin</option>
<option>University of Jos Jos</option>
<option>University of Lagos Akoka</option>
<option>University of Maiduguri Maiduguri</option>
<option>University of Mkar Mkar-Gboko, Benue State</option>
<option>University of Nigeria Nsukka</option>
<option>University of Port Harcourt Choba, Port Harcourt</option>
<option>University of Uyo Uyo</option>
<option>Usman Dan Fodio University Sokoto</option>
<option>Wesley University Ondo</option>
<option>Western Delta University Oghara, Delta State</option>