<option>Abdul Gusau Polytechnic</option>
<option>Abia State Polytechnic</option>
<option>Abubakar Tafari Ali Polytechnic</option>
<option>Adamawa State Polytechnic</option>
<option>Akanu Ibiam Federal Polytechnic</option>
<option>Akperan Orshi College of Agriculture</option>
<option>Akwa Ibom State Polytechnic</option>
<option>Akwa-Ibom College of Agriculture</option>
<option>Allover Central Polytechnic</option>
<option>Auchi Polytechnic</option>
<option>Audu Bako School of Agriculture</option>
<option>Bayelsa State College of Arts and Science</option>
<option>Benue State Polytechnic</option>
<option>Borno College of Agriculture</option>
<option>College of Agriculture and Animal Science</option>
<option>College of Agriculture, Jalingo</option>
<option>College of Agriculture, Kabba</option>
<option>College of Agriculture, Lafia</option>
<option>College of Agriculture, Zuru</option>
<option>Delta State College of Agriculture</option>
<option>Delta State Polytechnic: (three institutions)</option>
<option>Dorben Polytechnic</option>
<option>Ekwenugo Okeke Polytechnic</option>
<option>Federal College of Agriculture, Ishiagu</option>
<option>Federal College of Animal Health & Production Technology</option>
<option>Federal College of Animal Health and Production Technology, Ibadan</option>
<option>Federal College of Animal Health and Production Technology, Vom</option>
<option>Federal College of Chemical and Leather and Technology</option>
<option>Federal College of Education, Pankshin</option>
<option>Federal College of Fisheries and Marine Technology</option>
<option>Federal College of Forestry Mechanisation</option>
<option>Federal College of Forestry, Ibadan</option>
<option>Federal College of Forestry. Jos</option>
<option>Federal College of Fresh Water Fisheries Technology</option>
<option>Federal College of Land Resources Technology, Kuru</option>
<option>Federal College of Land Resources Technology, Owerri</option>
<option>Federal College of Wildlife Management</option>
<option>Federal Polytechnic, Ado-Ekiti</option>
<option>Federal Polytechnic, Bauchi</option>
<option>Federal Polytechnic, Bida</option>
<option>Federal Polytechnic, Birnin-Kebbi</option>
<option>Federal Polytechnic, Damaturu</option>
<option>Federal Polytechnic, Ede</option>
<option>Federal Polytechnic, Idah</option>
<option>Federal Polytechnic, Ilaro</option>
<option>Federal Polytechnic, Mubi</option>
<option>Federal Polytechnic, Namoda</option>
<option>Federal Polytechnic, Nassarawa</option>
<option>Federal Polytechnic, Nekede</option>
<option>Federal Polytechnic, Offa</option>
<option>Federal Polytechnic, Oko</option>
<option>Federal School of Dental Technology & Therapy</option>
<option>Gateway Polytechnic Saapade</option>
<option>Grace Polytechnic</option>
<option>Hassan Usman Katsina Polytechnic</option>
<option>Hussaini Adamu Federal Polytechnic</option>
<option>Hussani Adamu Polytechnic</option>
<option>Ibrahim Babangida College of Agriculture</option>
<option>Imo State Polytechnic</option>
<option>Imo State Technological Skills Acquisition Center</option>
<option>Institute of Management Technology, Enugu</option>
<option>Kaduna Polytechnic</option>
<option>Kano State Polytechnic</option>
<option>Kebbi State Polytechnic</option>
<option>Kogi State Polytechnic</option>
<option>Kwara State Polytechnic</option>
<option>Lagos City Polytechnic</option>
<option>Lagos State Polytechnic</option>
<option>Maritime Academy of Nigeria</option>
<option>Mohammed Abdullahi Wase Polytechnic</option>
<option>Moshood Abiola Polytechnic</option>
<option>Nasarawa State Polytechnic</option>
<option>Niger State College of Agriculture</option>
<option>Niger State Polytechnic</option>
<option>Nigerian College of Aviation Technology</option>
<option>Nuhu Bamalli Polytechnic</option>
<option>Osun State College of Technology</option>
<option>Osun State Polytechnic</option>
<option>Our Saviour Institute of Science and Technology</option>
<option>Petroleum Training Institute</option>
<option>Plateau State College of Agriculture</option>
<option>Plateau State Polytechnic</option>
<option>Ramat Polytechnic</option>
<option>Rivers State College of Arts and Science</option>
<option>Rivers State Polytechnic</option>
<option>Rufus Giwa Polytechnic</option>
<option>Samaru College of Agriculture</option>
<option>School of Agriculture, Ikorodu</option>
<option>Shaka Polytechnic</option>
<option>The Polytechnic Ile-Ife</option>
<option>The Polytechnic, Calabar</option>
<option>The Polytechnic, Ibadan</option>
<option>Wavecrest College of Catering and Hospitality Management</option>
<option>Wolex Polytechnic</option>